:root {
    --primary-bg-color: #064789;
    --secondary-bg-color: #427aa1;
    --supp-bg-color: #ebf2fa;
    --match-lost-color: #ff746c;
    --primary-text-color: white;
    --secondary-text-color: gray;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--supp-bg-color);
}

.head {
    background-color: var(--primary-bg-color);
    height: 3rem;
    font-size: 20px;
    color: var(--primary-text-color);
    padding-left: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    margin-bottom: 12px;
}

.mainContent {
    width: 100%;
    max-width: 800px;
}

.summonerCard {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 4px;
    display: flex;
    gap: 8px;
}

.summonerIcon {
    align-self: center;
}

#summonerIconImage {
    width: 3.25rem;
    height: 3.25rem;
}

.update {
    padding-left: 8px;
    display: flex;
    gap: 8px;
}

.matchCard {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    border-radius: 12px;
    font-size: 12px;
    height: 6rem;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 8px;
    padding-bottom: 6px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
}

.matchMetaData {
    flex-grow: 1;
    padding-top: 4px;
    padding-bottom: 4px;
    min-width: 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.matchIcons {
    flex-grow: 2;
}

.matchIconsTop {
    display: flex;
}

.playerChampImage {
    width: 3rem;
    height: 3rem;
}

.playerSpells {
    padding-left: 4px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.playerSpellImage {
    width: 1.33rem;
    height: 1.33rem;
}

.playerRunes {
    padding-left: 4px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.playerRuneImage {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 15px;
}

.itemIcons {
    display: flex;
    gap: 4px;
}

.itemImage {
    width: 1.20rem;
    height: 1.20rem;
}

.playerInfo {
    flex-grow: 2;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.playerInfoExtra {
    display: none;
}

.matchParticipants {
    display: flex;
    gap: 1rem;
}

.participantName {
    display: none;
}

.participant {
    display: flex;
    gap: 2px;
}

.participantChampImage {
    width: 1.2rem;
    height: 1.2rem;
}

.participantName {
    white-space: nowrap;
    overflow: hidden;
    text-wrap: ellipse;
}

.matchDropDown {
    align-self: center;
}

@media (min-width: 768px) {
    .matchParticipants {
        flex-grow: 2;
        justify-content: space-evenly;
    }

    .participantName {
        display: block;
    }

    .matchIconsBottom {
        padding-top: 12px;
        display: flex;
        gap: 4px;
    }

    .itemImage {
        width: 1.5rem;
        height: 1.5rem;
    }

    .playerInfoExtra {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 2;
        padding-top: 4px;
        padding-bottom: 4px;
    }
}
